@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.album {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:235px;
  min-width: 200px;
  background-color: var(--dark-grey);
  color: var(--white);
  margin: 10px;
  border-radius: 10px;
}

.album:hover {
  background-color: var(--light-grey);
}

/* ***** ***** ***** ***** ***** */



/* ALBUM PHOTO */

.albumPhoto {
  margin-top: 10px;
  align-self: center;
}

/* ***** ***** ***** ***** ***** */



/* ALBUM NAME */

.album h2 {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: medium;
  height: 40px;
  overflow-y: hidden;
}

/* ***** ***** ***** ***** ***** */



/* ALBUM DESCRIPTION */

.album p {
  display: flex;  
  padding-left: 10px;
  font-size: small;
  height: 30px;
  overflow-y: hidden;
}

/* ***** ***** ***** ***** ***** */