@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.album {
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height:250px;
  width: 200px;
  min-width: 200px;
  background-color: var(--dark-grey);
  color: var(--white);
  margin: 10px;
  border-radius: 10px;
}

.album:hover {
  background-color: var(--light-grey);
}

/* ***** ***** ***** ***** ***** */



/* ALBUM PHOTO */

.albumPhoto {
  margin: 15px 25px 15px 25px;
  align-self: center;
}

/* ***** ***** ***** ***** ***** */



/* ALBUM NAME */

.album h2 {
  display: inline-block;
  align-items: center;
  margin: 5px 10px 5px 10px;
  font-size: medium;
  height: 20px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ***** ***** ***** ***** ***** */



/* ALBUM DESCRIPTION */

.album p {
  display: inline-block;
  align-items: center;
  margin: 0 10px 5px 10px;
  font-size: small;
  height: 20px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ***** ***** ***** ***** ***** */