@import url('../../assets/constants/Colors.css');

/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 25px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-grey); 
  border-radius: 25px;
}

*::-webkit-scrollbar-thumb:hover {
  color: var(--white);
  cursor: pointer;
}