@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.artistProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
  height:300px;
  width: 250px;
  background-color: var(--dark-grey);
  color: var(--white);
  border-radius: 10px;
}

.artistProfile:hover {
  background-color: var(--light-grey);
  transition: 200ms background-color ease-in;
}

/* ***** ***** ***** ***** ***** */



/* ARTIST PHOTO */

.pfp {
  align-self: center;
}

/* ***** ***** ***** ***** ***** */



/* ARTIST NAME */

.artistProfile h2 {
  padding-left: 10px;
}

/* ***** ***** ***** ***** ***** */



/* ARTIST LABEL AND RANK */

.labelAndRank {
  display: flex;
  justify-content: space-between;
}

.artistLabel {
  padding-left: 10px;
  align-self: center;
}

.artistRank {
  color: var(--dark-green);
  padding-right: 15px;
  font-size: x-large;
}

/* ***** ***** ***** ***** ***** */