@import url('../../assets/constants/Colors.css');

.body {
  display: flex; 
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  background: linear-gradient(var(--dark-grey), var(--black));


  /* NOT ALIGNING CORRECTLY SO SHIFT BY 20 PIXELS */
  margin-left: calc(var(--menu-width) + 20px);

  /* NOT ALIGNING CORRECTLY SO SHIFT BY 20 PIXELS */
  height: calc(100vh - var(--footer-height));
}



/* SCROLLBAR */
.body::-webkit-scrollbar {
  width: 10px;
}

.body::-webkit-scrollbar-track {
  border-radius: 25px;
}

.body::-webkit-scrollbar-thumb {
  background-color: var(--light-grey); 
  border-radius: 25px;
}

.body::-webkit-scrollbar-thumb:hover {
  color: var(--white);
  cursor: pointer;
}