@import url('../../assets/constants/Constants.css');

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--white);
}

.footerIcon:hover, .footerIconHighlightable:hover {
  transition: transform 200ms ease-in;
  transform: scale(1.2) !important;
}



.songInfo {
  display: flex;
  flex: 0.3;
  max-width: 200px;
  margin-left: 10px;
}

.footerAlbumPhoto {
  height: 60px;
  width: 60px;
  object-fit: contain;
}



.playControls {
  display: flex;
  align-items: center;
  flex: 0.4;
  max-width: 300px;
  justify-content: space-evenly;
}



.volumeControls {
  display: flex;
  align-items: center;
  flex: 0.3;
  max-width: 200px;
  margin-right: 10px;
  justify-content: space-evenly;
}

.footerSlider {
  max-width: 100px;
}
