@import url('../../assets/constants/Colors.css');

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  color: var(--white);
}

.home h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}