@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: auto;
  margin-left: 30px;
  color: var(--white);
}

.home h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

/* ***** ***** ***** ***** ***** */



/* GREETING */

.greetingWrap {
  height: auto;
  width: auto;
  margin-top: 30px;
}

/* ***** ***** ***** ***** ***** */



/* FEATURED PLAYLISTS AND NEW RELEASES AND RECENTLY PLAYED TRACKS*/

.featuredPlaylistsWrap, .newReleasesWrap, .recentlyPlayedTracksWrap {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: auto;
  width: 100%;
  margin-top: 30px;
}

.featuredPlaylistsWrap h2, .newReleasesWrap h2, .recentlyPlayedTracksWrap h2 {
  margin-bottom: 10px;
}

.featuredPlaylists, .newReleases {
  display: flex;
  height: auto;
  width: auto;
  overflow-x: scroll;
}

.recentlyPlayedTracks {
  display: flex;
  flex-direction: column;
}

/* ***** ***** ***** ***** ***** */
