@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  color: var(--white);
}

.library h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

/* ***** ***** ***** ***** ***** */