@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.login {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--black);
}

.login a {
  padding: 20px;
  border-radius: 100px;
  color: white;
  font-size: x-large;
  font-weight: 800;
  background-color: var(--light-green);
  text-decoration: none;
}

/* ***** ***** ***** ***** ***** */