.menuItem {
  display: flex;
  align-items: center;
  color: var(--light-grey);
  height: 40px;
  transition: 200ms color ease-in;
}

.menuItem:hover {
  color: var(--white);
}

.menuItemIcon {
  padding-left: 10px;
  padding-right: 10px;
}