
/* PARENT DIV */

.menuItem {
  display: flex;
  align-items: center;
  /* color: var(--light-grey); */
  height: 40px;
}

.menuItem:hover {
  color: var(--light-green);
}

/* ***** ***** ***** ***** ***** */



/* ICON FOR THE MENU ITEM */

.menuItemIcon {
  padding-left: 10px;
  padding-right: 10px;
}

/* ***** ***** ***** ***** ***** */
