@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.playlist {
  display: flex;
  flex-direction: column;
  color: var(--white);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* ***** ***** ***** ***** ***** */



/* WRAPPER FOR PLAYLIST INFORMATION */

.playlistBanner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  padding-top: 50px;
  height: 400px;
  width: 100%;
  text-shadow: 2px 2px 2px var(--dark-black);
}

/* ***** ***** ***** ***** ***** */



/* WRAPPER FOR PLAYLIST TEXT INFORMATION  */

.playlistBannerText {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  height: 200px; 
}

.playlistBannerText strong {
  font-size: 12px;
}

.playlistBannerText h1 {
  height: 100px;
  width: 100%;
  font-size: 75px;
  overflow: hidden;
}

.playlistBannerText h3 {
  margin-top: 10px;
}

/* ***** ***** ***** ***** ***** */



/* PLAY BUTTON */

.playCircle {
  margin: 0px 0px 30px 30px;
  color: var(--dark-green);
}

/* ***** ***** ***** ***** ***** */



/* WRAPPER FOR SONGS */

.songs {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: auto;
}

/* ***** ***** ***** ***** ***** */


