@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.song {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  min-width: 0px;
  color: var(--white);
}

.song:hover {
  background-color: var(--dark-grey);
  transition: 100ms background-color ease-in;
}

/* ***** ***** ***** ***** ***** */



/* ALL THREE SECTIONS OF SONG INFORMATION  */

.leftInfo, .songAlbum, .duration {
  display: flex;
  align-items: center;
  width: calc(30%);
  overflow: hidden;
  min-width: 0px;
  height: auto;
  margin: 0 10px 0 10px;
}

/* ***** ***** ***** ***** ***** */



/* RANKING, ALBUM COVER, SONG NAME, AND ARTISTS */

.leftInfo {
  width: calc(40%);
}

.leftInfo img {
  margin-left: 10px;
}

.songRank {
  display: flex;
  align-self: center;
  justify-content: center;
  min-width: 20px;
  margin-left: 5px;
  color: var(--dark-green);
}

.blankAlbumImage {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-color: var(--light-grey);
}

.nameAndArtist {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: calc(100%);
}

/* ***** ***** ***** ***** ***** */



/* ARTIST INFORMATION */

.artist {
  font-size: small;
}

/* ***** ***** ***** ***** ***** */



/* SONG DURATION INFOMRATION */

.duration {
  justify-content: center;
}

/* ***** ***** ***** ***** ***** */



/* HANDLE OVERFLOW FOR TEXT FIELDS */

.name, .artist, .songAlbum{
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px;
  height: 20px;
}

/* ***** ***** ***** ***** ***** */



