@import url('../../assets/constants/Colors.css');



/* PARENT DIV */

.song {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  color: var(--white);
}

.song:hover {
  background-color: var(--dark-grey);
  opacity: 1;
}

/* ***** ***** ***** ***** ***** */



/* ALL THREE SECTIONS OF SONG INFORMATION  */

.leftInfo, .songAlbum, .duration {
  display: flex;
  align-items: center;
  width: 30%;
  height: auto;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

/* ***** ***** ***** ***** ***** */



/* ALBUM COVER, SONG NAME, AND ARTISTS */

.leftInfo {
  width: 40%;
}

.leftInfo img {
  margin-left: 10px;
}

.blankAlbumImage {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-color: var(--light-grey);
}

.nameAndArtist {
  padding-left: 10px;
}

/* ***** ***** ***** ***** ***** */



/* ARTIST INFORMATION */

.artist {
  padding: 2px;
  font-size: small;
}

/* ***** ***** ***** ***** ***** */



/* SONG DURATION INFOMRATION */

.duration {
  justify-content: center;
}

/* ***** ***** ***** ***** ***** */



/* HANDLE OVERFLOW FOR TEXT FIELDS */

.name, .songAlbum{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px;
  height: 20px;
}

/* ***** ***** ***** ***** ***** */

