@import url('../../assets/constants/Colors.css');

.song {
  display: flex;
  align-items: center;
  height: 60px;
  width: auto;
  color: var(--white);
  
}

.song:hover {
  background-color: var(--dark-grey);
  opacity: 0.8;
}