@import url('../../assets/constants/Colors.css');
@import url('../../assets/constants/Constants.css');



/* PARENT DIV */

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: var(--white);
}

.stats h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

/* ***** ***** ***** ***** ***** */
