/* Spotify color palette for other css files */

:root {
    --black: #191414;
    --white: #ffffff;
    --light-green: #1eb760;
    --light-grey: #535353;
    --dark-green: #1db954;
    --dark-grey: #222326; 
    --dark-black: #000000;
}