@import url('./assets/constants/Colors.css');
@import url('./assets/constants/Constants.css');

.menu {
  position: fixed;
  display: flex; 
  flex-direction: column;
  height: 100vh;
  width: var(--menu-width);
  background-color: var(--dark-black);
  color: var(--white);
  padding: 10px;
}

.menu img {
  max-width: fit-content;
  padding-left: 10px;
  object-fit: contain;
  height: 40px;
  margin-bottom: 30px;
}

.menu hr {
  padding-left: 10px;
  margin-bottom: 10px;
  color: var(--light-grey);
}

.playlists {
  padding-left: 10px;
  position: relative;
  max-height: 50vh;
  overflow-y: scroll;
}


/* SCROLLBAR */
.playlists::-webkit-scrollbar {
  width: 10px;
}

.playlists::-webkit-scrollbar-track {
  border-radius: 25px;
}

.playlists::-webkit-scrollbar-thumb {
  background-color: var(--light-grey); 
  border-radius: 25px;
}

.playlists::-webkit-scrollbar-thumb:hover {
  color: var(--white);
  cursor: pointer;
}
